* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  font-size: 16px;
}
ul {
  font-size: 24px;
}
li {
  display: inline-block;
  background-color: rgb(91, 41, 41);
  padding: 10px;
  font-size: 2rem;
}

