/* 
* множинний селектор
 */
div * {

}
/*
* універсальний селектор
 */
 * {
    /* ці стилі будуть застосовані до всіх елементів */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /*
Проблема - різні базові тсілі які можуть видавати браузери
1 рішення - універсальний селектор з базовими правилами
2 рішення - reset.css ( максимально обнулює всі браузерні стилі)
3 рішення - normalize.css (приводить всі стилі для всіх браузерів до чогось спільного)

  */